---
import BaseLayout from "@/layouts/BaseLayout";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import TitlePage from "@/components/TitlePage";

const albums = await getCollection("albums");
---

<BaseLayout title="Gallery">
  <TitlePage title="Gallery" iconName="solar:gallery-bold-duotone" />
  <p class="text-center text-lg">A collection of my photos</p>
  <section class="container mx-auto grid grid-cols-2 gap-8">
    {
      albums.map((item) => (
        <a href={`/gallery/${item.id}`} class="group mb-4 block transition-all">
          <Image
            src={item.data.cover}
            alt={item.data.title}
            format="avif"
            width={720}
            quality="mid"
            class:list={[
              "rounded-lg transition-all",
              "group-hover:opacity-90 group-hover:shadow-lg",
            ]}
          />
          <div class="mt-4 text-center">
            <strong class="font-normal">{item.data.title}</strong>
            <p class="text-xs text-slate-900 dark:text-slate-100">
              {item.data.description}
            </p>
          </div>
        </a>
      ))
    }
  </section>
</BaseLayout>
