---
import { getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";
import BaseLayout from "@/base/BaseLayout.astro";
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/starwind/card";
import TitlePage from "@/components/ui/TitlePage.astro";

const albums = await getCollection("albums");
---

<BaseLayout title="Gallery">
  <TitlePage
    title="Gallery"
    iconName="gallery-bold-duotone"
    iconClass="text-anchor"
  />
  <p class="mb-8 text-center text-lg">A collection of my photos</p>
  <section class="mx-auto grid gap-8 sm:grid-cols-3">
    {
      albums.map((item) => (
        <a href={`/gallery/${item.id}`} class="group mb-4 block transition-all">
          <Card>
            <CardHeader>
              <CldImage
                src={item.data.cover}
                alt={item.data.title}
                format="avif"
                width={400}
                quality="50"
                class:list={[
                  "rounded-lg transition-all",
                  "group-hover:shadow-lg",
                ]}
              />
            </CardHeader>
            <CardContent class="mt-4 text-center">
              <CardTitle
                transition:name={`${item.id}-title`}
              >
                {item.data.title}
              </CardTitle>
              <CardDescription
                transition:name={`${item.id}-description`}
              >
                {item.data.description}
              </CardDescription>
            </CardContent>
          </Card>
        </a>
      ))
    }
  </section>
</BaseLayout>
