---

import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/base/BaseLayout.astro";
import ListPostsSimple from "@/components/post/ListPostsSimple.astro";
import { Button } from "@/components/starwind/button";
import TitlePage from "@/components/ui/TitlePage.astro";
import { groupPostsByYear } from "@/lib/post";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  //Sort blog posts by publish date
  const sortedPosts = posts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
  const postsByYear = groupPostsByYear(sortedPosts);
  // Sort years in descending order
  const years = Object.keys(postsByYear).sort(
    (a, b) => parseInt(b, 10) - parseInt(a, 10),
  );
  //Get the current year
  const currentYear = new Date().getFullYear();
  //Define the years in order for the nav buttons
  return years.map((year, index) => ({
    params: { page: index === 0 ? undefined : year },
    props: {
      year: parseInt(year, 10),
      posts: postsByYear[parseInt(year, 10)],
      prevYear: years[index + 1],
      nextYear: years[index - 1],
      isCurrentYear: parseInt(year, 10) === currentYear,
    },
  }));
}

const { year, posts, prevYear, nextYear } = Astro.props;
---

<BaseLayout title={`${year} Blog Posts`}>
  <TitlePage
    title={`${year} Blog Posts`}
    iconName="notebook-bookmark-bold-duotone"
    iconClass="text-anchor"
  />
  <ListPostsSimple posts={posts} />
  <nav class="flex justify-evenly">
    {
      nextYear && (
        <Button
          href={
            parseInt(nextYear, 10) === new Date().getFullYear()
              ? "/blog"
              : `/blog/${nextYear}`
          }
          aria-label="Next Year"
        >
          <Icon name="arrow-right-bold-duotone" class="size-6" />
          <span>{`${nextYear} Posts`}</span>
        </Button>
      )
    }
    {
      prevYear && (
        <Button href={`/blog/${prevYear}`} aria-label="Previous Year">
          <Icon name="arrow-left-bold-duotone" class="size-6" />
          <span>{`${prevYear} Posts`}</span>
        </Button>
      )
    }
  </nav>
</BaseLayout>
