---

import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogPost from "@/base/BlogPost.astro";
import Code from "@/components/mdx/Code.astro";
import ListRelatedPosts from "@/components/post/ListRelatedPosts.astro";
import TableOfContents from "@/components/ui/TableOfContents.astro";
import { getPosts } from "@/lib/post";
import { getReadingTime } from "@/lib/reading-time";

type Props = CollectionEntry<"blog">;

const posts = await getCollection("blog");
const post = Astro.props;
const MAX_POSTS = 3;
const getRelatedPosts = (post: Props) => {
  const lowercaseTags = post.data.tags.map((tag: string) => tag.toLowerCase());
  const relatedPosts = posts.filter(
    (p: CollectionEntry<"blog">) =>
      p.id !== post.id &&
      p.data.tags.some((t: string) => lowercaseTags.includes(t.toLowerCase())),
  );
  return relatedPosts.slice(0, MAX_POSTS);
};
const relatedPosts = getRelatedPosts(post);
const readingTime = getReadingTime(post.body ?? "");
const { Content, headings } = await render(post);

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.id },
    props: post,
  }));
}
---

<BlogPost
  id={post.id}
  data={post.data}
  headings={headings}
  readTime={readingTime}
>
  <div class="mt-8 grid gap-10 md:grid-cols-[auto_15%]">
    <!-- Blog post using TW Typography plugin with the .prose class -->
    <article class="w-full">
      <section class="prose prose-slate dark:prose-invert mb-12 min-w-full">
        <Content components={{ pre: Code }} />
      </section>
      <hr class="border-muted-foreground" />
      <!-- Related posts -->
      <section class="mt-8">
        <h5 class="mb-6 text-xl font-bold">Related Posts</h5>
        <ListRelatedPosts posts={relatedPosts} />
      </section>
    </article>
    <!-- Aside (Table of Contents)  -->
    <aside class="hidden flex-col gap-8 md:flex">
      <div
        class="sticky top-32 hidden self-start transition-all duration-200 md:block"
      >
        {headings && headings.length > 0 && <TableOfContents {headings} />}
      </div>
    </aside>
  </div>
</BlogPost>
